RewriteEngine On
RewriteBase /RTKSistema/

# Redirecionar todas as requisições para index.php, exceto para arquivos e diretórios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ app/public/index.php [QSA,L]
